//
// Forms
// ---------------------------

form {
    margin: 0 0 $baseLineHeight 0;
    fieldset {
        margin-bottom: $baseLineHeight;
        padding: 0;
        border-width: 0;
    }
    legend {}
    p {
        margin-bottom: $baseLineHeight / 2;
    }
    ul {
        list-style-type: none;
        margin: 0 0 $baseLineHeight 0;
        padding: 0;
    }
    input {
        width: 100%;
        border: none;
        padding: 15px;
        margin-top: 40px;
        border-bottom: 1px solid $borderColor;
        font-size: 2em;
        outline: none;
        &::-webkit-input-placeholder {
           color: $textColor;
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: $textColor;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: $textColor;
        }

        &:-ms-input-placeholder {  
           color: $textColor;
        }
    }
}
