//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 1.5em 0;
    width: 100%;
    background: $black;
    color: $white;
    font-size: 2.4em;
    text-transform: uppercase;

    &:hover {}

    &:focus {}

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}

    &.btn-alternative {
        background: $darkGray;
    }

}
.page {
    .page-cta {
        .btn {
            width: 50%;
            float: left;
        }
    }
}